* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}



.container {
    width: 1352px
}

/* navPanel */
.navPanel {
    display: flex;
    height: 70px;
    width: 100vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    justify-content: space-between;
    align-items: center;
}

.navPanel-name {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    letter-spacing: 0px;
    color: #08A6E4;
    line-height: 37px;
    padding-left: 136px;
}

nav {
    padding-right: 130px;
}

ul {
    display: flex;
    height: 70px;
    align-items: center;
    gap: 70px
}

li {
    padding: 0 6px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3.28px;
}

li:hover {
    border-bottom: 4px solid #08A6E4;
}

li a {
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    text-decoration: none;
    font-weight: 700;
}

li a:hover {
    color: #000000;
}

/* header */
header {
    background: url('../Images/Background.png');
    width: 100vw;
    height: calc(100vh - 70px);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    justify-content: center;
    object-fit: contain;
    object-position: 0 -20%;
}

header .container {

    justify-content: space-between;
    display: flex;
    flex-direction: column;

}

.header-row-first {

    text-align: center;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}



h1 {
    font-size: 40px;




}

header p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;

}

.container a {
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    text-decoration: none;

    color: white;
    align-self: center;
    padding: 18px 100px
}

.statistics,
.benefits {
    margin-top: 100px
}

/* statistics */


main .container {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

h2 {
    font-size: 36px
}

.statistics-cards {
    display: flex;
    justify-content: space-around
}

.statistics-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 95px;

}

.statistics-card-basic {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto
}

.statistics-card h3 {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 5.96px;
    color: #000000;
}

.statistics-card p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
    color: #A5A5A5;
}

span.statistics-card-red {
    background: #FB3B64 0% 0% no-repeat padding-box;
}

span.statistics-card-blue {
    background: #08A6E4 0% 0% no-repeat padding-box;
}

span.statistics-card-green {
    background: #55DFB4 0% 0% no-repeat padding-box;
}

.statistics-card img {
    position: absolute;
    top: 6px;

}

/* benefits */
section.benefits {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.benefits {
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.benefit {
    display: flex;
    padding: 91px 35px;
    gap: 300px
}

.benefit-picture-container {
    padding-left: 30px;
    width: 50%
}

.benefit-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%
}

.benefit-line {

    border-radius: 5px;
    width: 328px
}

.benefit-line-red {
    border: 4px solid #FB3B64;
}

.benefit-line-blue {
    border: 4px solid #08A6E4;
}

.benefit p {
    text-align: left;
    font-size: 16px
}

.benefit h2 {
    text-align: left;
}

.benefit {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    margin: 30px 0;
}



.benefit-picture_1 {
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    width: 255px;
    height: 255px;
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
}

.benefit-picture_1 img {
    transform: translate(-20%, 50%) rotate(315deg)
}



.benefit-picture_2 {
    background: #07ACE6 0% 0% no-repeat padding-box;
    border-radius: 50%;
    width: 320px;
    height: 320px;

}

.benefit-picture-container_3 {
    background: #55DFB4 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    width: 440px;
    height: 370px;
    display: flex;
    align-items: center;
}

.benefit-three {
    display: flex;
    padding: 0px 0px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 0;
    gap: 60px
}

.benefit-text-three {

    padding: 91px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
}

.benefit-line-green {
    border: 4px solid #55DFB4;
}

/* pricing */
.pricing-card {
    width: 372px;
    height: 471px;
    display: flex;
    flex-direction: column;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    justify-content: space-around;
    position: relative;
}

.pricing-card-big {
    width: 405px;
    height: 500px;
    border: 1px solid #07ACE6;
}

.pricing-card-green {
    border: 1px solid #55DFB4;
}

h3 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #13253B;
    font-weight: bold;
}

.pricing-card-price {
    font-size: 46px;
    letter-spacing: 0px;
    color: #FB3B64;
    text-align: center;
    line-height: 64px;
}

.pricing-card p {
    font-size: 14px;
    line-height: 26px;
}

.pricing-card-button {
    position: absolute;
    bottom: -5px;
    left: 35%
}

.pricing-card-button a {
    background: #EB476E 0% 0% no-repeat padding-box;
    border-radius: 23px;
    padding: 9px 38px
}

.pricing-card-body {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.pricing-card-body-green,
.pricing-card-body-red {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.pricing-card-price-green {
    color: #55DFB4
}

.button-green a {
    background-color: #55DFB4;
}

.button-blue a {
    background-color: #07ACE6;
}

.pricing-card-price-blue {

    color: #07ACE6
}

.pricing-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px
}

section.contact {
    margin: 100px 0;
}

.contact .container {
    display: flex;
    gap: 50px
}

.form {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 20px
}

.contact-details {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.contact-details-email,
.contact-details-phone {
    display: flex;
    align-items: center;
}

.any-questions p {
    line-height: 70px;
    text-align: left;
    font-family: "Open Sans"
}

.any-questions h1 {
    text-align: left;
}

input {
    font-weight: bold;
    text-transform: uppercase;
    color: #07ACE6;
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
    border: 0;
    border-bottom: 1px solid grey;
    line-height: 0.9rem;
    letter-spacing: 3px;
    padding-bottom: 30px;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form a {
    align-self: flex-end;
}

label p {
    font-family: "Open Sans";
    font-size: 12px;
    text-align: left;
}

.checkbox .checkbox_span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox input:checked+span {
    background-position: center;

    background: transparent url('../Images/Checkmark.svg') 0% 0% no-repeat padding-box;
}

footer {
    height: 89px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 40px #00000029;
}

.footer-corporate-name {
    text-align: left;
    font-family: "Raleway";
    font-size: 26px;
    letter-spacing: 0px;
    color: #08A6E4;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: 0 auto
}

.footer-corporate p {
    font-family: "Open Sans";
    font-size: 11px;
    letter-spacing: 0px;
    color: #A5A5A5;
}

.social-media {
    display: flex;
    gap: 10px
}